DB_HOST=127.0.0.1
DB_DATABASE=namibra_invoice
DB_USERNAME=root
DB_PASSWORD=

SMTP_HOST=smtp.example.com
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password
SMTP_PORT=587

ARKESEL_API_KEY=your_arkesel_api_key_here
ARKESEL_SENDER_ID=Namibra
